*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

body {
    margin-top: -38px;
    overflow: hidden;
}

b{font-size: 110%;}
em{color: red;}

#maincontainer{
    overflow: scroll;
    padding:0;
    margin: 0;
    display: flex;
    height: 100%;
    width: 100%;
}

#contentwrapper{
    width: 100%;
    min-height: 100%;
}

#contentcolumn{
    width: 100%;
    min-height: 100%;
}

#leftcolumn{
    width: 250px; /*Width of left column*/
    min-height:110vh;
    background-color: #000033;
}

li {
    list-style: none;
    line-height: 3em;
    color: white;
    padding-left: 20px;  
}

a{
    text-decoration: none;
}

.innertube{
    margin: 100px;
    margin-top: 0;
}

#navbar li:hover {
    cursor: pointer;
    background: #cccccc;
    opacity: 0.7;
}

#navbar li:hover {
    color:#000033;
}

input[type=submit]{
    padding:5px 10px;
    cursor: pointer;
    font-size: 11pt;
    background-color: gainsboro;
}

input[type=submit]:hover{
    padding:5px 10px;
    font-size: 11pt;
    background-color: cadetblue;
}

input[type=text]{
    font-size: 12pt;
}

input[type=password]{
    font-size: 12pt;
}

#usertable {
    border:1px solid black;
    border-collapse: collapse;
    width: 100%;
}

#usertable td, #usertable th{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#usertable tr:nth-child(even){background-color: #f2f2f2;}

#usertable tr:hover {background-color: #ddd;}

#usertable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    text-align: center;
}