*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

body{
    overflow: hidden;
    height: 110vh;
    margin-top: -38px;
    padding:0;
}

b{font-size: 110%;}
em{color: red;}

#maincontainer{
    padding:0;
    margin: 0 auto; /*Center container on page*/
    display: flex;
    flex-direction: row;
    height: 100%;
}

#contentwrapper{
    width: 100%;
    height: 100%;
}

#contentcolumn{

}

#leftcolumn{
    width: 250px; /*Width of left column*/
    height: 100%;
    background: #000033;
}

li {
    list-style: none;
    line-height: 3em;
    color: white;
    padding-left: 20px;  
}

a{
    text-decoration: none;
}

.innertube{
    margin: 100px; /*Margins for inner DIV inside each column (to provide padding)*/
    margin-top: 0;
}

#navbar li:hover {
    cursor: pointer;
    background: #cccccc;
    opacity: 0.7;
}

#navbar li:hover {
    color:#000033;
}

input[type=submit]{
    padding:5px 10px;
    cursor: pointer;
    font-size: 11pt;
    background-color: gainsboro;
}

input[type=submit]:hover{
    padding:5px 10px;
    font-size: 11pt;
    background-color: cadetblue;
}

input[type=text]{
    font-size: 12pt;
}

input[type=password]{
    font-size: 12pt;
}